.invoice-create{
    #customer-results{
        & > div{
            position: relative;
        }
        .list-group{
            position: absolute;
            width:100%;
            top: -0.7rem;
            max-height: 60vh;
            overflow-y: scroll;
            z-index: 10;
            box-shadow: 0px 5px 9px 0px #0004;
            
             /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                 display: none;
            }
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            li{
                cursor: pointer;
                &:hover{
                    background-color: var(--blue);
                    color: var(--white);

                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 80%;
                    width: 6px;
                    background-color: var(--blue);
                    top: 10%;
                    left: 4px;
                    border-radius: 3px;
                }
            }
        }
    }
    
    .position-list-card{
        .position_counter{
            width: 40px;
            text-align: right;
            margin-right: 1rem;
            display: inline-block;
        }
        .form-control{
            &.mwst,&.netto{
                text-align: right;
            }
            &.mwst{
                width: 80px;
            }
            &.netto{
                width: 120px;
            }
        }
        .remove-pos{
            display: inline-block;
            padding: 6px;
            border-radius: 5px;
            background-color: var(--danger);
            filter:grayscale(100%);
            &:hover{
                filter:grayscale(0%);
            }

            svg{
                fill: var(--white);
            }
        }
    }
    .additional-information{
        .invoice_additional{
            width: 100%;
        }
    }
    

}