.invoice-table{
    margin-top: 1.25rem;
    width: 100%;
    td{
        padding: 5px 10px;
    }
    tbody{
        tr{
            background-color: $white;
            border-radius: 0.25rem;
            transition: all 0.15s ease;
            margin: 5px 0;
            &:hover{
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175) !important;
            }
            td{
                font-weight: 500;
                font-size: 0.8rem;
            }
            .netto{
                color: $gray-900;
            }
            .brutto{
                color: #51916c;
            }
        }
    }
}
.invoice-list{
    .row{
        gap: 30px;
    }
}
.sum-table{
    .netto-sum, .brutto-sum{
        font-weight: 700;
    }
    .brutto-sum{
        font-size: 1.25rem;
    }
}
.invoice-list-element{
    background-color: $white;
    padding: 20px;
    transition: all 0.15s ease;
    border-radius: 0.25rem;
    &:hover{box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175) !important;}
    .number{
        margin: 0.25rem 0;
    }
    .date{
        font-size: 0.8rem;
        svg{
            margin-right: 4px;
        }
    }
    .financial{
        margin: 1.25rem 0;
        span{
            font-size: 0.6rem; 
        }
    }
}
.invoice-create{
   
    #customer-results{
        & > div{
            position: relative;
        }
        .list-group{
            position: absolute;
            width:100%;
            top: -0.7rem;
            max-height: 60vh;
            overflow-y: scroll;
            z-index: 10;
            box-shadow: 0px 5px 9px 0px #0004;
            
             /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                 display: none;
            }
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            li{
                cursor: pointer;
                &:hover{
                    background-color: var(--blue);
                    color: var(--white);

                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 80%;
                    width: 6px;
                    background-color: var(--blue);
                    top: 10%;
                    left: 4px;
                    border-radius: 3px;
                }
            }
        }
    }
    
    .position-list-card{
        .position_counter{
            width: 40px;
            text-align: right;
            margin-right: 1rem;
            display: inline-block;
        }
        .form-control{
            &.mwst,&.netto{
                text-align: right;
            }
            &.mwst{
                width: 80px;
            }
            &.netto{
                width: 120px;
            }
        }
        .remove-pos{
            display: inline-block;
            padding: 6px;
            border-radius: 5px;
            background-color: var(--danger);
            filter:grayscale(100%);
            &:hover{
                filter:grayscale(0%);
            }

            svg{
                fill: var(--white);
            }
        }
    }
    .additional-information{
        .invoice_additional{
            width: 100%;
        }
    }
    

}