body{
    font-family: 'Poppins';
    font-weight: 300;
}
.card-header{
    &.h1, h1{
        font-weight: 100;
        margin-bottom: 0;
    }
    h2,h3,h4,h5,h6, .h2,.h3,.h4,.h5,.h6{
        margin-bottom: 0;
    }

}